:root {
    --main-border: 1px solid rgba(248, 246, 246);
    --main-font-size: 14px;
}

* {
    box-sizing: border-box;
}

.background_cinema {
  background-image: linear-gradient(white, rgb(105, 91, 83), white);
}

.background_restaurant {
  background-image: linear-gradient(white, rgb(219, 141, 38), white);
}

.background_bar {
  background-image: linear-gradient(white, rgb(218, 72, 36), white);
}

.background_hire {
  background-image: linear-gradient(white, rgba(20, 156, 219, 0.938), white);
}

body {
    min-width: 360px;
}


/* --------------------------------- STICKY NAVS ---------------------------------------- */

#home-title-content {
    position: sticky;
    z-index: 3;
    top: 0px;
    
}

/* --------------------------------- MAIN NAV ---------------------------------------- */

.logo {
    height: 89px;
    border-radius: 7% / 20%;
    margin-top: 4px;
}

.logo:hover {
  height: 92px;
  
}

#main-nav {
    float: left;
    height: 100px;
    width: 100%;
    background-color: white;
    font-family: 'Arial','Courier New', Courier, monospace ;
    font-size: var(--main-font-size); 
    text-align: left; 
}

#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#main-nav ul li a {
    background-color:black;
    display: block;
    border: var(--main-border);
    border-radius: 8px;
    margin: 20px 8px;
    padding: 10px 35px 10px 35px;
    text-decoration: none;  
}

#main-nav ul li a:hover {
    padding: 11px 36px 11px 36px;
}

 #main-nav > ul > li {
     float: right;
 }
 
 .dropdown-content {
     display: none;
     position: absolute;
     background-color:rgb(255, 255, 255, 1.0);
     min-width: 160px;
     border: 1px solid black;
     border-radius: 8px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     padding: 12px 16px;
     z-index: 1;
 }

 .dropdown:hover .dropdown-content {
     display: block;
 }

 a {
     color: rgb(0, 0, 0);
     font-weight: normal;
 }

 #currentLink {
   color: rgb(255, 0, 13);
 }

 .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: none;
  }
 
/* --------------------------------- Grid Container ---------------------------------------- */

.cinema-container, .Restaurant-container, .home-container {
  width: 100%; 
  min-width: 276px;
	margin: 0px auto;
  display: grid;
	grid-template-columns: repeat(12, 1fr); 


	grid-template-rows: auto;

	grid-template-areas: 
	  "header header header header header header header header header header header header"
      "content content content content content content content content content content content content"
      "footer footer footer footer footer footer footer footer footer footer footer footer";

  
	gap: 10px; 

  }
  
  /* -------------------------------- Grid Cells ------------------------------------------ */


header {
    border: var(--main-border); 
    margin: 30px 0px 0px 0px; 
    grid-area: header;
}

.content1, .content2 {
    background-color: rgb(250, 249, 248, 0.8);
    border: 6px solid black;
    border-style: double;
    margin: 10px;
    min-height: 100px;
    width: 100%;
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
}

.content2 {
    min-height: 150px;
}

#cinema-times, #bar-times {
    min-height: 120px;
}

#Restaurant-main { 
    border: var(--main-border);
	  min-height: 600px;
    grid-area: content; 
}

#home-main { 
    border: var(--main-border);
    min-height: 600px;
    grid-area: content; 
}

#cinema-main {
    border: var(--main-border);
    min-height: 500;
    min-width: 276px;
    margin-bottom: 20px;
} 

#bar-main, #hire-main {
    border: var(--main-border);
    min-width: 100%;
    margin-bottom: 20px;
}

/* --------------------Carousel/Slideshow-----------------------------------*/

.slideshow-container {
  position: relative;
  margin-top: 12px;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -52px;
  padding: 25px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

.prev:hover, .next:hover {
  background-color: rgba(80, 78, 78, 0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* ----------------------------------- Video Player --------------------------------------------- */

#vidSlider {
width: 98%;
}

video {
  position: absolute;
  height: 100%;
  object-fit: cover;
  }
  
.vidNavigation {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
.vidNavigation li {
  list-style: none;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 4px;
  background: #fff;
  padding: 3px 3px 0;
  opacity: 0.7;
  transition: 0.5s;
  }
  
.vidNavigation li:hover {
  opacity: 1;
  }
  
.vidNavigation li img {
  width: 120px;
  transition: 0.5s;
  }
  
.vidNavigation li img:hover {
  width: 200px;
  }

/*---------------------------SlideShow BAR/HIRE---------------------------------*/

  .bar-content3, .hire-content3, .cinema-content3 {
    box-sizing: border-box;
    position: relative;
    background-color: rgb(3, 3, 3);
    border: var(--main-border);
    margin: 10px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .barImageStyle {
      width: 100%;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float:left;
    width: 16.6%;
  }
  
  /* Add a transparency for thumnbail images */
  .thumbnails {
    opacity: 0.6;
  }

  .active,
  .thumbnails:hover {
    opacity: 1;
  }

  #cinema-img:hover, #restuarant-img:hover, #bar-img:hover {
    opacity: 0.8;
  }

  /*----------------------------lightbox Gallery HIRE-----------------------------*/

  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to each other */
  .hireColumn {
    float: left;
    width: 25%;
    margin-bottom: 10px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    border: var(--main-border);
    border-radius: 20px;
    left: 15%;
    top: 12%;
    width: 70%;
    height: 80%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #020202;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    opacity: 0.5;
  }
/*---------------------------FOOTER----------------------------------*/
footer {
    background-color: rgb(248, 247, 246, 0.9);
    border: 1px solid black;
	  min-height: 200px;
    min-width: 276px;
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position:relative;
}

.box1, .box2, .box3, .box4  {
    background-color: rgb(248, 247, 246,);
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

.box2 {
    padding: 0px;
}

.box3 {
    text-align: center;
}

.box4 {
    text-align: right;
}

a[href^="mailto"]:hover { color: gray; }

.instagram-icon:hover, .facebook-icon:hover, .twitter-icon:hover {
  height: 40px;
}

/* -------------------- Media Quires ------------------------------ */

/* ------------------ Mindre Desktop ----------------------------- */

@media screen and (min-width: 960px) and (max-width: 1200px) {
   .cinema-container, .Restaurant-container, .home-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
	    "header header header header header header header header header header header header"
        "content content content content content content content content content content content content"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    }

    .logo {
        height: 84px;
    }

    #main-nav ul li a {
        margin: 20px 8px;
        padding: 8px 20px 8px 20px; 
    }
    
    .barImageStyle {
        width: 80%;
    }

    .modal {
      padding-top: 40px;
      height: 70%;
    }

}

/* ------------------ Tabletts -----------------------------*/

/* ipad 767px */
@media screen and (min-width: 767px) and (max-width: 960px) {
    .cinema-container, .Restaurant-container, .home-container { 
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        /* 12 columns */
	    "header header header header header header header header header header header header"
        "content content content content content content content content content content content content"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    }

    .logo {
        height: 71px;
    }

    #main-nav {
        height: 90px;
    } 

    #main-nav ul li a {
        margin: 20px 4px;
        padding: 8px 15px 8px 20px;
    }

    #home-main {
      min-height: 500px;
    }

    .home-content1, .home-content2, .home-content3 {
      max-height: 500px;
    }
    
    .barImageStyle {
        width: 90%;
    }

    .modal {
      padding-top: 40px;
      height: 60%;
    }

    .vidNavigation {
      bottom: 50px;
    }

    .vidNavigation li {
      padding: 4px 4px 0px;
      }
  
    footer {
      grid-template-columns: repeat(2, 1fr);
    }

   .box1, .box4 {
      text-align: center;
   } 

}

/* ------------------- Mobile Phones ------------------------- */

@media screen and (max-width: 767px) {
    .cinema-container, .Restaurant-container, .home-container { 
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
	    "header header header header header header header header header header header header"
        "content content content content content content content content content content content content" 
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    
    }

    .logo {
      height: 95px;
      margin-left: 30px;
    }

    #main-nav {
        width: 0px;
    }

    #main-nav ul li a {
        display: none;
    }

    #home-main { 
      margin-top: 100px;
    }

    .home-content1, .home-content2 {
      max-height: 300px;
      min-width: 100%;
      margin: 0px 0px 10px 0px;
    }

    .home-content3 {
      max-height: 300px;
      min-width: 100%;
    }

    header {
        margin: 100px 0px 0px 0px;
    } 

    .barImageStyle {
        width: 100%;
    }

    #cinema-main {
      min-height: 200px;
    }

    #vidSlider {
      width: 95%;
    }
        
    .vidNavigation {
      bottom: -10px;
      left: 46%;
    }
        
    .vidNavigation li {
      margin: 0 5px;
    }

    .vidNavigation li img {
      width: 80px;
    }
        
    .vidNavigation li img:hover {
      width: 120px;
    }

    footer {
        background-color: rgb(248, 247, 246,);
        border: var(--main-border);
        height: 800px;
        grid-area: footer;
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows:repeat(4, 1fr);
    }

    .box1, .box3 {
        text-align: center;
        font-size: 16px;
        margin: 0px;
    }

    .box2 {
        margin: 10px 0px 10px 0px;
    }

    .box4 {
        text-align: center;
        margin: 10px 0px 0px 0px;
    }

    .modal {
      padding-top: 50px;
      left: 0%;
      width: 100%;
      max-height: 600px;
    }

/*----------------------------HAMBURGER MENU--------------------------------*/

  .topnav {
    overflow: hidden;
    background-color: rgb(17, 17, 17);
    position: relative;
    display: contents;
    text-align: center;
  }

  .topnav #myLinks {
    width: 100%; 
    margin: auto;
    padding-top: 110px;
    background-color:rgb(3, 3, 3);
    height: 360px;
    border: 6px solid white;
    border-style: double;
    border-radius: 10px;
    display: none;
    position: fixed;
    text-align: left;
    z-index: 2;
  }

  .topnav a {
    color: rgb(218, 214, 214);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
  }

  /* Style Hamburger icon */
  .topnav a.icon {
    background: black;
    border: var(--main-border);
    display: block;
    position: fixed;
    margin: 1px;
    border-radius: 8px;
    right: 0;
    top: 0;
    z-index: 3;
  }

  .dropdown:hover .dropdown-content2 {
    display: block;
  } 
    
  .dropdown-content2 {
    display: none;
    position: absolute;
    min-width: 160px;
    padding: 134px 0px;
    z-index: 2;
  }

  .topnav li {
    list-style-type: none;
  }

  .topnav ul {
    list-style-type: none;
    text-align: left;
    left: 60%;
    top: -2%;
  }

}
/* ------------------------- FlexBox Main ------------------------------ */


main {
    display: flex;

}

.flex-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Restaurant-content3, .Restaurant-content4 {
    background-color: white;
    border: 6px solid black;
    border-style: double;
    margin: 10px;
    height: 980px;
    width: 250px;
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
}

.home-content1, .home-content2, .home-content3 {
    border: 1px solid black;
    height: 800px;
    width: 250px;
    flex-grow: 1;
    text-align: center;
    font-size: 10px;
} 

#cinema-img, #restuarant-img, #bar-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  opacity: 0.1;
}

.hire-content3 {
    min-height: 100px;
    width: 100%;
}

.custom {
    color: rgb(0, 0, 0);
    font-weight: bold;
   }

.customh4 {
    color: rgb(87, 85, 85);
    font-weight: bold;
   }

.customLink {
    color: rgb(0, 0, 0);
    font-size: var(--main-font-size); 
   } 

.customNavLink {
    color: white;
    font-size: 12px;
   }

.customNavLink2 {
    color: white;
    font-size: 15px; 
   }

/* ------------------------- FlexBox Header ------------------------------ */


.flex-items-cinema-header, .flex-items-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
