/* Du har inga klasser som heter .main och .aside. Dessa är taggar och man kommer åt dessa utan punkt, i CSS. 
Men du verkar ändå ha löst uppgiften utan dessa selektorer. Bättre då att radera CSS kod som inte används Content 1-6 har alla samma kod. 
Bättre att använda en gemensam selektor för alla content-sektionerna, istället för att repetera koden 6 gånger.
Samma sak med dina buttons, många har samma kod och därmed bättre att använda en gemensam selektorr för att hålla koden efter DRY-principen (Don't Repeat Yourself) */

/* Change text to Arial from Myriad Pro */

/* * {
    box-sizing: border-box;
} */


body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 100%;
}

/*[class*="container"] {
    
}*/

/* --------------------------------- STICKY NAVS ---------------------------------------- */

#home-title-content {
    position: sticky;
    top: 0px;
    
}

/* --------------------------------- MAIN NAVS ---------------------------------------- */


#main-nav {
    background-color:rgba(68, 67, 67, 0.8);
    border: 1px solid #333;
    float: left;
    height: 89px;
    width: 70%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 30px;
    font-family: 'Arial','Courier New', Courier, monospace ;
    font-style: normal;
    font-size: 12px;  
    text-align: left; 
}



#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#main-nav ul li a {
    display: block;
    border: 1px solid black;
    margin: 20px 8px;
    padding: 10px 35px 10px 35px;
    text-decoration: none;  
}

#main-nav ul li a:hover {
    background-color:;
    color: gray;
}


 #main-nav > ul > li {
     float: right;
 }
 
 .dropdown {
     
 }


 .dropdown-content {
     display: none;
     position: absolute;
     background-color:rgb(255, 255, 255, 0.8);
     min-width: 160px;
     border: 1px solid black;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     padding: 12px 16px;
     z-index: 1;
 }

 .dropdown:hover .dropdown-content {
     display: block;
 }

 .active {
    /* background-color:red; */
    color: gray;
 }

 a {
     color:black;
     font-weight: normal;
 }

 /* --------------------------------- QUICK NAV ---------------------------------------- */
 
 #quick-nav {
    background-color:rgba(68, 67, 67, 0.8);
    border: 1px solid #333;
    border-radius: 8%;
    float: right;
    height: 140px;
    width: 15%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 10px 10px 10px 10px;
    font-family: 'Courier New', Courier, monospace ;
    font-size: 12px;
    text-align: center;
 } 

 #quick-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#quick-nav ul li a {
    display: block;
    background-color: white;
    border: 1px solid black;
    margin: 10px 10px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;  
}

#quick-nav ul li a:hover {
    background-color:;
    color: gray;
}


 #quick-nav > ul > li {
     
 }
 
 .dropdown {
     
 }

/* --------------------------------- Grid Container ---------------------------------------- */
.container {
    width: 1200px;
	margin: 0px auto;
    display: grid;
	grid-template-columns: repeat(12, 1fr); 
    /* example repeat(12, fr)*/

	grid-template-rows: auto;

	grid-template-areas: 
	  "header header header header header header header header header header header header"
      "content content content content content content content content content content content content "
      "footer footer footer footer footer footer footer footer footer footer footer footer";

  
	gap: 10px; 
  }

  
  /* -------------------------------- Grid Cells ------------------------------------------ */

/*
example-förläsning- 
min-height parent can grow with contents

header,
section,
main,
aside,
footer {
    border: 1px solid #333;
    min-height: 100px;
}
    */

/*
example-förläsning-
used grid_column:
*/

header {
    border: 1px solid #333;
    margin: -40px 0px 0px;
	min-height: 90px;
    grid-area: header;

}

.content1 {
    background-color: white;
    border: 1px solid #333;
    margin: 10px;
    height: 150px;
    width: 100%;
    flex-grow: 1;
    text-align: center;
    font-size: 14px;
}

.content2 {
    background-color: white;
    border: 1px solid #333;
    margin: 10px;
    height: 100px;
    width: 100%;
    flex-grow: 1;
    text-align: center;
    font-size: 14px;
}

 


main {
    border: 1px solid #333;
	min-height: 600px;
    grid-area: content; 
}

/* aside { 
    border: 1px solid #333;
	min-height: 200px;
    grid-area: sidebar;
}*/

footer {
    border: 1px solid #333;
	min-height: 200px;
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.box4 {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
    text-align: left;
    font-size: 14px;

}

.box5 {
    background-color: white;
    margin: 10px;
    border: 1px solid #333;

}

.box6 {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
    text-align: right;
    font-size: 14px;
}

.box7 {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
    text-align: right;
    font-size: 14px;
}

.custom-social {
    color: rgb(116, 114, 112);
    font-weight: bold;
   }

/* -------------------- Media Quires ------------------------------ */

/* ------------------ Mindre Desktop ----------------------------- */

@media screen and (min-width: 960px) and (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
	    "header header header header header header header header header header header header"
        "content content content content content content content content content content content content"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    }

   
}

/* ------------------ Tabletts -----------------------------*/

/* ipad 767px */
@media screen and (min-width: 767px) and (max-width: 960px) {
    .container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        /* 12 columns */
	    "header header header header header header header header header header header header"
        "content content content content content content content content content content content content"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    }

   

    footer {
        border: 1px solid #333;
        height: 400px;
        grid-area: footer;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat(2, 1fr);
    }

}

/* ------------------- Mobile Phones ------------------------- */

@media screen and (max-width: 767px) {
    .container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
	    "header header header header header header header header header header header header"
        "content content content content content content content content content content content content" 
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    
    }

    /* main {
        border: 1px solid #333;
        min-height: 500px;
        grid-area: content; 
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows:repeat(4, 1fr);
    } */
    

    
    footer {
        border: 1px solid #333;
        height: 800px;
        grid-area: footer;
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows:repeat(4, 1fr);
    }
}

/* ------------------------- FlexBox Main ------------------------------ */

/* {
    box-sizing: border-box;
}*/

.main {
    display: flex;
    
}


.flex-items {
    background-color: ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




.content3 {
    background-color: white;
    border: 1px solid #333;
    margin: 10px;
    height: 780px;
    width: 250px;
    flex-grow: 1;
    text-align: center;
    font-size: 10px;
}


.content4 {
   background-color: white;
   border: 1px solid #333;
   margin: 10px;
   height: 780px;
   width: 250px;
   flex-grow: 1;
   text-align: center;
   font-size: 10px;
}

.custom {
    color: rgb(0, 0, 0);
    font-weight: bold;
   }

.customh4 {
    color: rgb(87, 85, 85);
    font-weight: bold;
   }

/* ------------------------- FlexBox Header ------------------------------ */


.flex-items-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

