/* Du har inga klasser som heter .main och .aside. Dessa är taggar och man kommer åt dessa utan punkt, i CSS. 
Men du verkar ändå ha löst uppgiften utan dessa selektorer. Bättre då att radera CSS kod som inte används Content 1-6 har alla samma kod. 
Bättre att använda en gemensam selektor för alla content-sektionerna, istället för att repetera koden 6 gånger.
Samma sak med dina buttons, många har samma kod och därmed bättre att använda en gemensam selektorr för att hålla koden efter DRY-principen (Don't Repeat Yourself) */

/* Change text to Arial from Myriad Pro */
:root {
    --main-border: 1px solid rgba(248, 246, 246);
    --main-font-size: 14px;
}

* {
    box-sizing: border-box;
}

.background_cinema {
	background: url(../img/cinema_background.png) center top repeat-y;
	background-size: cover;
}

.background_restaurant {
	background: url(../img/restaurant_background.jpg) center top repeat-y;
	background-size: 100%;
}

.background_bar {
	background: url(../img/bar_background.jpg) center top repeat-y;
	background-size: 100%;
}

.background_hire {
	background: url(../img/hire_background.jpg) center top repeat-y;
	background-size: 100%;
}

body {
    min-width: 360px;
}


/* --------------------------------- STICKY NAVS ---------------------------------------- */

#home-title-content {
    position: sticky;
    z-index: 3;
    top: 0px;
    
}

/* --------------------------------- MAIN NAV ---------------------------------------- */

.logo {
    height: 89px;
    border-radius: 7% / 20%;
}


#main-nav {
    float: left;
    height: 89px;
    width: 70%;
    /* padding-right: 30px; */
    font-family: 'Arial','Courier New', Courier, monospace ;
    /* font-style: normal; */
    font-size: var(--main-font-size); 
    text-align: left; 
}



#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#main-nav ul li a {
    background-color:black;
    display: block;
    border: var(--main-border);
    border-radius: 8px;
    margin: 20px 8px;
    padding: 10px 35px 10px 35px;
    text-decoration: none;  
}

#main-nav ul li a:hover {
    background-color:;
    color: gray;
}


 #main-nav > ul > li {
     float: right;
 }
 
 .dropdown {
     
 }


 .dropdown-content {
     display: none;
     position: absolute;
     background-color:rgb(255, 255, 255, 1.0);
     min-width: 160px;
     border: 1px solid black;
     border-radius: 8px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     padding: 12px 16px;
     z-index: 1;
 }

 .dropdown:hover .dropdown-content {
     display: block;
 }

 .active {
        background-color: red;
 }

 a {
     color: rgb(0, 0, 0);
     font-weight: normal;
 }

 li a:hover {
    color: red;
 }

 /* .cinemaActive {
    color: rgb(202, 18, 18);
 } */


 .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: none;
  }
 
/* --------------------------------- Grid Container ---------------------------------------- */
.cinema-container, .Restaurant-container, .home-container {
  width: 100%; /* 90% ?*/
  min-width: 276px;
	margin: 0px auto;
  display: grid;
	grid-template-columns: repeat(12, 1fr); 


	grid-template-rows: auto;

	grid-template-areas: 
	  "header header header header header header header header header header header header"
      "content content content content content content content content content content content content"
      "footer footer footer footer footer footer footer footer footer footer footer footer";

  
	gap: 10px; 

  }

/* .home-container {
  border: 10px black solid;
  top: 0px;
  z-index: 1;
  } */
  
  /* -------------------------------- Grid Cells ------------------------------------------ */


header {
    border: var(--main-border); 
    margin: 40px 0px 0px 0px;  /* !!!!!!!*/
	/* min-height: 90px; */
    grid-area: header;

}

.content1, .content2 {
    background-color: rgb(250, 249, 248, 0.8);
    border: 6px solid black;
    border-style: double;
    margin: 10px;
    min-height: 100px;
    width: 100%;
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
}

.content2 {
    min-height: 150px;
}

#cinema-times, #bar-times {
    min-height: 120px;
}

#Restaurant-main { 
    border: var(--main-border);
	min-height: 600px;
    grid-area: content; 
}

#home-main { 
  border: var(--main-border);
  min-height: 600px;
  grid-area: content; 
}

#cinema-main {
    border: var(--main-border);
    min-height: 663px;
    min-width: 276px;
    margin-bottom: 20px;
}

#bar-main, #hire-main {
    border: var(--main-border);
    /* min-height: 663px; */
    min-width: 100%;
    margin-bottom: 20px;
}

/* --------------------Carousel + Slideshow-----------------------------------*/

/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin-top: 12px;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -52px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(80, 78, 78, 0.8);
}

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

/* .active, .dot:hover {
  background-color: #717171;
} */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*---------------------------SlideShow---------------------------------*/

/* .container {
    position: relative;
  } */
  
  .bar-content3, .hire-content3 {
    box-sizing: border-box;
    position: relative;
    background-color: rgb(3, 3, 3);
    border: var(--main-border);
    margin: 10px;
    padding: 10px;
    /* min-height: 400px; */
    width: 100%;
    /* flex-grow: 1; */
    text-align: center;
    /* font-size: 10px; */
  }

  .barImageStyle {
      width: 100%;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  /* .prev, */
  /* .next { */
    /* cursor: pointer; */
    /* position: absolute; */
    /* top: 40%; */
    /* width: auto; */
    /* padding: 16px; */
    /* margin-top: -22px; */
    /* color: white; */
    /* font-weight: bold; */
    /* font-size: 20px; */
    /* border-radius: 0 3px 3px 0; */
    /* user-select: none; */
    /* -webkit-user-select: none; */
  /* } */
  
  /* Position the "next button" to the right */
  /* .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  } */
  
  /* On hover, add a black background color with a little bit see-through */
  /* .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  } */
  
  /* Number text (1/3 etc) */
  /* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } */
  
  /* Container for image text */
  /* .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  } */
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float:left;
    width: 16.6%;
    /* justify-content: center; */
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  /*----------------------------lightbox Gallery-----------------------------*/

  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .hireColumn {
    float: left;
    width: 25%;
    margin-bottom: 10px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    border: var(--main-border);
    border-radius: 20px;
    left: 15%;
    top: 12%;
    width: 70%;
    height: 80%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #020202;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  /* .mySlides {
    display: none;
  } */
  
  /* Next & previous buttons */
  /* .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  } */
  
  /* Position the "next button" to the right */
  /* .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  } */
  
  /* On hover, add a black background color with a little bit see-through */
  /* .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  } */
  
  /* Number text (1/3 etc) */
  /* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } */
  
  /* Caption text */
  /* .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  } */
  
  /* img.demo {
    opacity: 0.6;
  } */
  
  /* .active,
  .demo:hover {
    opacity: 1;
  } */
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
/*---------------------------FOOTER----------------------------------*/
footer {
    background-color: rgb(248, 247, 246, 0.9);
    border: 1px solid black;
	min-height: 200px;
    min-width: 276px;
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.box1, .box2, .box3, .box4  {
    background-color: rgb(248, 247, 246,);
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    text-align: left;
    font-size: 16px;

}

.box2 {
    /* border: 1px solid black; */
    padding: 0px;

}

.box3 {
    text-align: center;
}

.box4 {
    text-align: right;
}

/* .custom-social {
    color: rgb(224, 50, 19);
    font-weight: bold;
   } */

/* -------------------- Media Quires ------------------------------ */

/* ------------------ Mindre Desktop ----------------------------- */

@media screen and (min-width: 960px) and (max-width: 1200px) {
   .cinema-container, .Restaurant-container, .home-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
	    "header header header header header header header header header header header header"
        "content content content content content content content content content content content content"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    }

    .logo {
        height: 84px;
    }

    #main-nav {
        height: 84px;
        width: 72%;
        font-size: 12px;  
        text-align: left; 
    }

    #main-nav ul li a {
        margin: 20px 8px;
        padding: 8px 20px 8px 20px; 
    }
    
    header {
        
        margin: 40px 0px 0px 0px; 
    }

        .barImageStyle {
        width: 80%;
    }

}


/* ------------------ Tabletts -----------------------------*/

/* ipad 767px */
@media screen and (min-width: 767px) and (max-width: 960px) {
    .cinema-container, .Restaurant-container, .home-container { 
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        /* 12 columns */
	    "header header header header header header header header header header header header"
        "content content content content content content content content content content content content"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    }

    .logo {
        height: 71px;
    }

    #main-nav {
        height: 71px;
        width: 78%;
        /* font-size: 11px;  */
        text-align: left; 
    }

    #main-nav ul li a {
        margin: 20px 4px;
        padding: 8px 15px 8px 20px;
    }

    header {
        margin: 40px 0px 0px 0px;
    }  

    .barImageStyle {
        width: 90%;
    }

    /* .hire-content3 {
      min-height: 300px;
  } */

     /* The Modal (background) */
  .modal {
    padding-top: 50px;
    height: 60%;
  }
  
}

/* ------------------- Mobile Phones ------------------------- */

@media screen and (max-width: 767px) {
    .cinema-container, .Restaurant-container, .home-container { 
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
	    "header header header header header header header header header header header header"
        "content content content content content content content content content content content content" 
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    
    }

    #main-nav {
        width: 71px;
    }

    #main-nav ul li a {
        display: none;
       
    }

    header {
        margin: 40px 0px 0px 0px;
    } 

    .barImageStyle {
        width: 100%;
    }

    footer {
        background-color: rgb(248, 247, 246,);
        border: var(--main-border);
        height: 800px;
        grid-area: footer;
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows:repeat(4, 1fr);
    }


    .box1, .box3 {
        text-align: center;
        font-size: 16px;
        /* border: var(--main-border); */
    }

    .box2 {
        /* background-color: white; */
        margin: 10px;
        /* border: var(--main-border); */
    }

    .box4 {
        text-align: center;
        /* border: var(--main-border); */
    }

    /* The Modal (background) */
    .modal {
      padding-top: 50px;
      left: 0%;
      width: 100%;
      max-height: 400px;
    }

/*----------------------------HAMBURGER MENU--------------------------------*/

/* .mobile-container {
  max-width: 480px;
  margin: auto;
  background-color:rgb(156, 151, 151, 0.5);
  height: 200px;
  color: white;
  border-radius: 10px;
  text-align: center;
  display: contents; 
} */

.topnav {
  overflow: hidden;
  background-color: rgb(17, 17, 17);
  position: relative;
  display: contents;
  text-align: center;
}

.topnav #myLinks {
  width: 100%; /*480px*/
  margin: auto;
  background-color:rgb(3, 3, 3);
  height: 200px;
  border: 6px solid white;
  border-style: double;
  border-radius: 10px;
  top: 11%;
  display: none;
  position: fixed;
  text-align: left;
}

.topnav a {
  color: rgb(218, 214, 214);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

/* Style Hamburger icon */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  margin: 1px;
  border-radius: 8px;
  right: 0;
  top: 0;
}

/* .topnav a:hover {
  background-color: rgb(128, 125, 125);
  color: black;
} */

.active {
  background-color: #04AA6D;
  color: white;
}

.dropdown:hover .dropdown-content2 {
  display: block;
} 
  
.dropdown-content2 {
  display: none;
  position: absolute;
  height: 200px;
  /* background-color:rgb(255, 255, 255, 1.0); */
  min-width: 160px;
  /* border: 1px solid black; */
  /* border-radius: 8px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  padding: 12px 16px;
  z-index: 1;
}

.topnav li {
  list-style-type: none;
}

.topnav ul {
  list-style-type: none;
  text-align: left;
  left: 60%;
  top: -2%;
}

}
/* ------------------------- FlexBox Main ------------------------------ */


main {
    display: flex;

}

.flex-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Restaurant-content3, .Restaurant-content4 {
    background-color: white;
    border: 6px solid black;
    border-style: double;
    margin: 10px;
    height: 800px;
    width: 250px;
    flex-grow: 1;
    text-align: center;
    font-size: 10px;
}

.home-content1, .home-content2, .home-content3 {
    /* background-color: white; */
    border: 1px solid black;
    /* border-style: double; */
    /* margin: 10px; */
    height: 800px;
    width: 250px;
    flex-grow: 1;
    text-align: center;
    font-size: 10px;
} 

.cinema-img, .restuarant-img, .bar-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

/*.hire-content3,*/ .cinema-content3 {
    background-color: rgb(3, 3, 3);
    border: var(--main-border);
    margin: 10px;
    min-height: 400px;
    width: 100%;
    flex-grow: 1;
    text-align: center;
    font-size: 10px;
}

/* .cinema-content3 {
    min-height: 183px;
} */

#movie {
    /* background-size: contain; */
    width: 100%;
    height: 663px;
    /* resize: both; */
} 

.hire-content3 {
    min-height: 100px;
    width: 100%;
}

.custom {
    color: rgb(0, 0, 0);
    font-weight: bold;
   }

.customh4 {
    color: rgb(87, 85, 85);
    font-weight: bold;
   }

.customLink {
    color: rgb(0, 0, 0);
    font-size: var(--main-font-size); 
   } /* check if in use */

.customNavLink {
    color: white;
    font-size: 12px;
   }

.customNavLink2 {
    color: white;
    font-size: 15px; 
   }

/* .cinema-img a:hover {
  color: rgb(5, 5, 5);
} */

/* ------------------------- FlexBox Header ------------------------------ */


.flex-items-cinema-header, .flex-items-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
